button {
    margin: 15px 5px;
    padding: 20px;
    background-color: #ffffff;
}

#moods-input {
    margin-bottom: 20px;
}

.gif {
    width: 300px;
    height: 300px;
    margin-left: 5px;
}

h1 {
    color: white;
    font-size: 38px;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 20px;
}
.moodClass, label {
    font-family: 'Open Sans Condensed', sans-serif;
}

#add-mood{
    font-family: 'Open Sans Condensed', sans-serif;
}
